CREATE TABLE rooms (id UUID PRIMARY KEY, user_a UUID NOT NULL, user_b UUID NOT NULL, status VARCHAR(20) DEFAULT 'active', created_at TIMESTAMPTZ DEFAULT NOW(), ended_at TIMESTAMPTZ, ended_by UUID); CREATE TABLE messages (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), room_id UUID REFERENCES rooms(id), sender_id UUID NOT NULL, content TEXT NOT NULL, is_deleted BOOLEAN DEFAULT false, sent_at TIMESTAMPTZ DEFAULT NOW()); CREATE INDEX idx_messages_room_sent ON messages(room_id, sent_at);
