go 1.25.0

use (
	./libs/proto
	./libs/shared
	./services/api-gateway
	./services/chat-service
	./services/matchmaking-service
	./services/moderation-service
	./services/notification-service
	./services/user-service
)
