tenancy_ocid          = ""
user_ocid             = ""
fingerprint           = ""
region                = ""
compartment_id        = ""
subnet_id             = ""
private_key_path      = ""
ssh_public_key        = ""
open_ports            = []
instance_shape        = ""
instance_display_name = ""
os_name               = ""
os_version            = ""