[defaults]
inventory = inventory.ini
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
roles_path = roles
# SSH key is passed via CI/CD pipeline or --private-key parameter
# private_key_file = /home/aikyn/ssh/mathalama-tf-server-private.pem
