CREATE TABLE users (id UUID PRIMARY KEY, device_id VARCHAR(255) UNIQUE, email VARCHAR(255) UNIQUE, password_hash VARCHAR(255), gender VARCHAR(10), interests TEXT[], is_anonymous BOOLEAN DEFAULT true, created_at TIMESTAMPTZ DEFAULT NOW()); CREATE TABLE bans (id UUID PRIMARY KEY, user_id UUID REFERENCES users(id), reason TEXT, banned_by VARCHAR(50), expires_at TIMESTAMPTZ, created_at TIMESTAMPTZ DEFAULT NOW());
