yc_cloud_id  = ""
yc_folder_id = ""
yc_zone      = ""
subnet_cidr = ["10.10.0.0/24"]
instance_name = "app-node"
instance_cores = 1
instance_memory = 1
boot_disk_size = 20
instance_platform_id = "standard-v3"
allowed_ports = [22, 80, 81, 443, 3000, 9090, 6443]
ssh_public_key_path = "~/.ssh/id_rsa.pub"
yc_token = ""
