[defaults]
inventory = inventory.ini
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
roles_path = roles
# Use the SSH key provided to the server
private_key_file = /home/aikyn/.oci/oci_api_key.pem
